@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../fonts/lobster_1.3-webfont.woff2') format('woff2'),
         url('../fonts/lobster_1.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100vh;
}

body {
    background: #fbcd1f;
    font-family: 'montserratsemibold', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.header-section {
    margin-top: 120px;
    font-family: 'lobster_1.3regular', 'montserratregular', Arial, Helvetica, sans-serif;
}

.header-section img {
    max-width: 200px;
}

#video {
    display: none;
}

#countdown {
    font-family: 'montserratbold', Arial, Helvetica, sans-serif;
}

/*
* Text Styles
*/

.title.is-1 {
    letter-spacing: 1px;
    font-size: 5rem;
}

.background {
    background: url('../img/waves.png') no-repeat center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 160px;
    display: block;
}

.videoWrapper {
    margin: 5% 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe,
.videoWrapper embed,
.videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.note {
    font-family: sans-serif;
}

.lineup {
    width: 60%;
    margin: 0 20%;
}

@media only screen and (max-width: 768px) {
    .lineup {
        width: 100%;
        margin: auto;
    }
}
